<script>
import { mapState, mapGetters } from 'vuex'
import VBalance from '@/components/VBalance'
import VWeekTransactionsChart from '@/components/VWeekTransactionsChart'
import VTransactionsList from '@/components/VTransactionsList'

export default {
  name: 'home',
  components: {
    VBalance,
    VWeekTransactionsChart,
    VTransactionsList,
  },
  computed: {
    ...mapState([ 'transactions' ]),
    ...mapGetters([ 'balance' ]),
  }
}
</script>

<template>
  <div>
    <v-btn
      :to="{ name: 'new-transaction' }"
      color="pink"
      class="add-transaction"
      fixed
      dark
      fab
      bottom
      right
    >
      <v-icon>add</v-icon>
    </v-btn>

    <v-card 
      color="purple" 
      class="main-indicator white--text"
    >
      <VWeekTransactionsChart
        :balance="balance"
        :transactions="transactions"
        class="main-indicator__chart"
      />
      <VBalance
        :balance="balance"
        class="main-indicator__balance"
      />
    </v-card>

    <VTransactionsList :transactions="transactions" />
  </div>
</template>

<style modules>
  .main-indicator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
  }

  .main-indicator__balance {
    flex: 2;
  }

  .main-indicator__chart {
    flex: 1;
  }

  @media (min-width: 750px) {
    .main-indicator {
      flex-direction: column-reverse;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
</style>
