<script>
import { mapState } from 'vuex';

export default {
  name: 'Transaction',
  data() {
    return {
      valid: true,
      rules: {
        nameRules: [v => !!v || this.$i18n.t('form.required')],
        categoryRules: [v => !!v || this.$i18n.t('form.required')],
        amountRules: [
          v => (v && v.length <= 21) || this.$i18n.t('form.amountMaxLength')
        ]
      },
      transaction: {
        name: '',
        category: '',
        amount: '0.00',
        icon: 'radio_button_unchecked',
        type: 'credit',
      },
    };
  },
  computed: {
    ...mapState({
      categories: 'categories',
      icons: 'icons',
    }),
  },
  beforeMount() {
    if (!this.$route.params.id) return
    const transaction = this.$store.state.transactions
      .find(e => e.id === this.$route.params.id)
    this.transaction = {...transaction}
  },
  methods: {
    async submit() {
      if (!this.$refs.form.validate()) return;
      this.transaction.createdAt = new Date();
      await this.$store.dispatch('CREATE_UPDATE_TRANSACTION', this.transaction);
      this.$router.push({ name: 'home' })
    },
  },
};
</script>

<template>
  <v-card>
    <v-btn
      fixed
      dark
      fab
      bottom
      right
      color="pink"
      :to="{ name: 'home' }"
      class="add-transaction"
    >
      <v-icon>arrow_back</v-icon>
    </v-btn>

    <v-card-text>
      <v-form v-model="valid" ref="form" lazy-validation>
     
        <v-text-field
          :label="this.$i18n.t('form.name')"
          v-model="transaction.name"
          required
          :rules="rules.nameRules"
          autofocus
          @keyup.enter="submit"
          class="name-field"
        ></v-text-field>

        <v-select
          :items="categories"
          v-model="transaction.category"
          :label="this.$i18n.t('form.category')"
          single-line
          :rules="rules.categoryRules"
          class="category-field"
        ></v-select>

        <v-text-field
          :label="this.$i18n.t('form.amount')"
          v-model="transaction.amount"
          :rules="rules.amountRules"
          ref="price"
          @keyup.enter="submit"
          class="amount-field"
          type="number"
        ></v-text-field>

        <v-flex xs4 sm3>
          <v-select
            :items="icons"
            v-model="transaction.icon"
            :label="this.$i18n.t('form.icon')"
            single-line
            class="category-icon-field"
          >
            <template slot="selection" slot-scope="data">
              <v-chip color="deep-purple" text-color="white">
                <v-icon>{{ data.item }}</v-icon>
              </v-chip>
            </template>
            <template slot="item" slot-scope="data">
              <v-list-tile-content class="text-xs-center">
                <v-icon>{{ data.item }}</v-icon>
              </v-list-tile-content>
            </template>
          </v-select>
        </v-flex>

        <v-radio-group class="type-field" v-model="transaction.type">
          <v-radio
            :label="this.$i18n.t('form.credit')"
            value="credit"
            color="green"
          ></v-radio>
          <v-radio
            :label="this.$i18n.t('form.debit')"
            value="debit"
            color="red"
          ></v-radio>
        </v-radio-group>

      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        round
        color="purple white--text"
        class="save-button"
        @click.native="submit"
      >
        {{ $t('form.save') }}
        <v-icon right dark small>save</v-icon>
      </v-btn>
    </v-card-actions>

  </v-card>
</template>

