<script>
  export default {
    name: 'VBalance',
    props: {
      balance: {
        type: Number,
        default: 0
      },
    },
    computed: {
      color() {
        if(Math.sign(this.balance) === 0) return 'grey'
        if(Math.sign(this.balance) < 0) return 'red'
        return 'green'
      },
      icon() {
        if(Math.sign(this.balance) === 0) return 'trending_flat'
        if(Math.sign(this.balance) < 0) return 'trending_down'
        return 'trending_up'
      },
    },
  }
</script>

<template>
  <div class="balance">
    <span class="balance__ammount">
      {{ $n(balance, 'currency') }}
    </span>
    <v-badge :color="color">
      <span slot="badge" class="balance__badge">
        <v-icon color="white" large>{{ icon }}</v-icon>
      </span>
    </v-badge>
  </div>
</template>

<style modules>
.balance {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
}

.balance__ammount {
  margin-right: 10px;
}

@media (min-width: 750px) {
  .balance {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
</style>
