<script>
import { mapActions } from 'vuex'
import VTransactionsListItem from '@/components/VTransactionsListItem'

export default {
  name: 'VTransactionsList',
  components: {
    VTransactionsListItem,
  },
  props: {
    transactions: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    sortedTransactions() {
      const transactions = [... this.transactions]
      return transactions.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt))
    }
  },
  methods: {
    ...mapActions(['ADD_FAKE_DATA'])
  }
}
</script>

<template>
  <v-list two-line subheader>
    <v-card
      v-if="!transactions.length"
      flat
    >
      <v-card-title primary-title class="transactions__empty">
        <div class="headline">
          {{ $t('list.empty') }}
        </div>
        
        <v-btn 
          :to="{ name: 'new-transaction' }"
          class="add-button"
          color="deep-purple" 
          round 
          large 
          dark
        >
          <v-icon>attach_money</v-icon>
        </v-btn>
        
        <v-btn 
          @click="ADD_FAKE_DATA"
          class="add-button"
          color="grey" 
          round 
          outline
          small 
          dark
        >
          {{ $t('addFakeData') }}
        </v-btn>
      </v-card-title>
    </v-card>

    <VTransactionsListItem
      v-for="transaction in sortedTransactions"
      :key="transaction.id"
      :transaction="transaction"
    />
  </v-list>
</template>

<style modules>
.transactions__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
