<script>
import moment from 'moment'

export default {
  name: 'VTransactionsListItem',
  props: {
    transaction: {
      type: Object,
      required: true,
    },
  },
  computed: {
    amountColor() {
      if (this.transaction.type === 'credit') return 'green--text'
      return 'red--text'
    },
    amount() {
      if (this.transaction.type === 'credit') return this.transaction.amount
      return -this.transaction.amount
    }
  },
  methods: {
    edit() {
      this.$router.push({ 
        name: 'transaction', 
        params: { id: this.transaction.id }
      })
    },
    remove() {
      this.$store.dispatch('REMOVE_TRANSACTION', this.transaction.id)
    },
    convertDate(createdAt) {
      return this.$i18n.d(moment(createdAt), 'short')
    }
  }
}
</script>

<template>
  <v-list-tile avatar @click.native="edit">

    <v-list-tile-avatar>
      <v-icon class="deep-purple white--text">
        {{ transaction.icon }}
      </v-icon>
    </v-list-tile-avatar>

    <v-list-tile-content>
      <v-list-tile-title>
        {{ transaction.name }}
      </v-list-tile-title>

      <v-list-tile-sub-title :class="amountColor">
        {{ $n(amount, 'currency') }}
      </v-list-tile-sub-title>
    </v-list-tile-content>

    <v-list-tile-action>
      <v-list-tile-action-text>
        {{ convertDate(transaction.createdAt) }}
      </v-list-tile-action-text>

      <v-btn 
        @click.stop="remove" 
        class="delete-transaction"
        color="red"
        icon
        outline
        small
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-list-tile-action>

  </v-list-tile>
</template>

