1<script>
import chartUtils from '@/utils/chart'

export default {
  name: 'VWeekTransactionsChart',
  props: {
    balance: {
      type: Number,
      default: 0
    },
    transactions: {
      type: Array,
      default: () => []
    },
  },
  data() {
    return {
      gradient: ['#FFF', '#F5F5F5', '#F9F9F9'],
    }
  },
  computed: {
    dataSet() {
      return chartUtils
        .buildChartDataset(
            Number(this.balance), 
            this.transactions,
        )
    }
  },
}
</script>

<template>
  <trend
    :data="dataSet"
    :gradient="gradient"
    auto-draw
    smooth>
  </trend>
</template>
