<script>
export default {
  name: 'App',
  beforeMount() {
    this.$store.dispatch('FETCH_TRANSACTIONS')
  },
}
</script>

<template>
  <v-app>
    <v-content>
      <v-card 
        class="app-card" 
        flat
      >
        <v-toolbar 
          color="purple darken-3" 
          flat 
          extended
        ></v-toolbar>

        <v-layout 
          row 
          pb-2
        >
          <v-flex 
            xs8 
            offset-xs2
          >
            <v-card class="app-card__toolbar">

              <router-view></router-view>

            </v-card>
          </v-flex>
        </v-layout>
      </v-card>
    </v-content>
  </v-app>
</template>

<style>
  .app-card {
    min-height: 100vh;
  }

  .app-card__toolbar {
    margin-top: -64px;
    min-height: 120px;
  }
</style>
